@import "tailwindcss";

/* GLOBAL THEME VARIABLES */
:root {
    /* Light mode theme */
    --bg-root: #f9fafb;
    --text-root: #111827;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode theme (default) */
        --bg-root: #101010;
        --text-root: #f3f4f6;
    }
}

/* GLOBAL RESET */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: var(--bg-root);
    color: var(--text-root);

    font-family: system-ui, sans-serif;
}

/* SCROLLBAR HIDE UTILITY */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
